.App {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto
  1fr
  1fr;

  border: 3px solid limegreen;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 980px){
  .App {
    grid-template-rows: auto
    1fr
    auto;
  }
}